<%- layout('layouts/main.ejs') %>
<div class="container" style="padding-top: 13%;">
<h1 class="mt-4" style="margin-left: 28.5%;">Welcome to Asunción 231</h1>
<h2 class="mt-4" style="margin-left: 26%;">Please sign in or sign up to continue</h2>
</div>