<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="assets/img/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Asunción231</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />

        <link href="assets/css/bootstrap.css" rel="stylesheet" />
        <link href="assets/css/landing-page.css" rel="stylesheet"/>

        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    </head>
    <body class="landing-page landing-page2">
        <nav class="navbar navbar-transparent navbar-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                    </button>
                    <a href="#">
                        <div class="logo-container">
                            <div class="logo">
                                <img src="assets/img/new_logo.png" alt="Asunción231 Logo">
                            </div>
                            <div class="brand">
                                Asunción231 
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="example" >
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="https://www.facebook.com/radioasuncion231/">
                            <i class="fa fa-facebook-square"></i>
                            Like
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/radioasuncion231/">
                            <i class="fa fa-instagram"></i>
                            Instagram
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
        <div class="wrapper">
            <div class="parallax filter-gradient blue" data-color="blue">
                <div class= "container">
                    <div class="row">
                        <div class="col-md-7  hidden-xs">
                            <div class="parallax-image">
                                <img src="assets/img/showcases/showcase-2/performingart.png"/>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="description text-center">
                                <h2>Asunción 231</h2>
                                <br>
                                <h5>Asunción231 es tu nueva plataforma de arte. Ponemos en tus manos un escenario digital para la difusión de cultura y te presentamos la oportunidad para empezar proyectos que puedan monetizarse con el objetivo de apoyar a los artistas afectados por la pandemia mundial causada por el COVID-19.</h5>
                                <div class="buttons">
                                    <a href="./layouts/main.ejs" class="btn btn-fill btn-neutral">
                                    Login/Register
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-gray section-clients">
                <div class="container text-center">
                    <h4 class="header-text">¿Por qué es importante?</h4>
                    <p>
                        Al comenzar la era digital, el compartir arte se volvió muchísimo más fácil. Al poder hacerlo de forma gratuita, el modelo de negocio de las artes escénicas evolucionó a ser muy dependiente de las audiencias en vivo para que un artista pueda percibir ingresos. La pandemia mundial dejó a la mayoría sin trabajo y desmotivó a una nueva generación de artistas.<br>
                    </p>
                    <div class="logos">
                        <ul class="list-unstyled">
                            <li ><img src="assets/img/logos/adobe.png"/></li>
                            <li ><img src="assets/img/logos/zendesk.png"/></li>
                            <li ><img src="assets/img/logos/ebay.png"/></i>
                            <li ><img src="assets/img/logos/evernote.png"/></li>
                            <li ><img src="assets/img/logos/airbnb.png"/></li>
                            <li ><img src="assets/img/logos/zappos.png"/></li>
                        </ul>
                    </div>
                    <p>
                    </p>
                </div>
            </div>
            <div class="section section-presentation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 hidden-xs">
                            <div class="description">
                                <h4 class="header-text">Revolución cultural</h4>
                                <p>
                                    Una persona promedio cada vez más es consciente de los problemas del mundo actual, tales como el cambio climático o la distribución de riqueza. Sin embargo, la gran mayoría de nosotros se limita a expresar incomodidad sin activamente buscar una solución a dichos problemas, esto se debe a que la comunidad científica una y otra vez ha resuelto los problemas que se le presentan a la humanidad, pero últimamente esta misma comunidad se ha dado cuenta que sus soluciones han dejado de ser suficientes.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <img src="assets/img/showcases/showcase-2/pngfuel.com.png" style="margin-top:-50px"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-demo">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="demo-image">
                                <img src="assets/img/showcases/showcase-2/examples/dance.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <h4 class="header-text">El arte como solución</h4>
                            <p>El arte hace que las personas sean optimistas sobre su futuro. El arte puede usarse para ayudar a difundir un mensaje de inspiración, haciendo que las personas logren grandes cosas en la vida. El arte puede ser una forma de comunicación entre las personas, para centrarse en problemas comunes para el mejoramiento de la humanidad.</p> 
                            <p>
                            Un claro ejemplo de esto son las comunidades más desarrolladas en donde existe una mayor libertad de expresión y respeto por el arte y cultura. Tales como Dinamarca, España, Alemania, la ciudad de Nueva York y más. 
                            </p>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-5">
                            <h4 class="header-text">¿Cómo lo logramos?</h4>
                            <p>
                                Each color has a strong pigment and was chosen to make your design shine. Each component from our product can have one of these colors. Try on different combinations and be sure that everything works together.
                            </p>
                            <p>
                                PSD Custom focuses on conveying the attention of your users to the important parts of the page and the actions. While keeping a light feel, the colors give the page an extra push.
                            </p>
                        </div>
                        <div class="col-md-6 col-md-offset-1">
                            <div class="demo-image">
                                <img src="assets/img/showcases/showcase-2/examples/find.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-features">
                <div class="container">
                    <h4 class="header-text text-center">Ventajas</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-pen"></i>
                                </div>
                                <div class="text">
                                    <h4>Asesoría profesional</h4>
                                    <p>Contamos con personal equipado para proveer asesoría de composiciones musicales, diseños de imagen, producciones audiovisuales y más.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-look"></i>
                                </div>
                                <h4>Difusión</h4>
                                <p>Todos los Miércoles se realizan entrevistas seguidas de una presentación si lo desean a diversos artistas o productoras de la nación con el fin de promover la cultura de forma gratuita .</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-like"></i>
                                </div>
                                <h4>Comunidad</h4>
                                <p>Al unirte al equipo contarás con el apoyo de artistas y personas de mente abierta, con una mentalidad orientada a ayudar buscando inspirar y ser inspirados.</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-piggy"></i>
                                </div>
                                <h4>Monetización</h4>
                                <p>Durante la transmisión se recibiran donaciones que iran directamente al artista que este formando parte del programa en ese momento.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-testimonial">
                <div class="container">
                    <h4 class="header-text text-center">comentarios</h4>
                    <div id="carousel-example-generic" class="carousel fade" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item">
                                <div class="mask">
                                    <img src="assets/img/faces/face-4.jpg">
                                </div>
                                <div class="carousel-testimonial-caption">
                                    <p>Mumu Island Records, Productora</p>
                                    <h3>"¡Nos gustó el programa! Esperamos puedan participar otros artistas nuestros en el futuro."</h3>
                                </div>
                            </div>
                            <div class="item active">
                                <div class="mask">
                                    <img src="assets/img/faces/face-3.jpg">
                                </div>
                                <div class="carousel-testimonial-caption">
                                    <p>Echoes Studio Collective</p>
                                    <h3>"Un proyecto cercano a nostros que esperamos siga creciendo."</h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="mask">
                                    <img src="assets/img/faces/face-2.jpg">
                                </div>
                                <div class="carousel-testimonial-caption">
                                    <p>Andres Lavalle, Musico</p>
                                    <h3>"Me gusto mucho la plática, espero sigan con el proyecto."</h3>
                                </div>
                            </div>
                        </div>
                        <ol class="carousel-indicators carousel-indicators-blue">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="section section-no-padding">
                <div class="parallax filter-gradient blue" data-color="blue">
                    <div class="parallax-background">
                        <img class ="parallax-background-image" src="assets/img/showcases/showcase-2/bg2.jpg">
                    </div>
                    <div class="info">
                        <p>Lo que se necesita hoy en día no es una revolución científica o tecnológica. Es una cultural, de una naturaleza más emotiva, que logre generar un sentido de solidaridad y responsabilidad al prójimo, formando personas con pensamiento crítico y la capacidad de escuchar con atención. La comunidad científica no es necesariamente la mejor para lograr generar este tipo de cambios, apoyen el arte y la cultura.</p>
                        <a href="http://www.creative-tim.com/product/awesome-landing-page" class="btn btn-neutral btn-lg btn-fill">LOGIN/REGISTER</a>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container">
                    <div class="social-area pull-right">
                        <a class="btn btn-social btn-facebook btn-simple" href="https://www.facebook.com/radioasuncion231/">
                        <i class="fa fa-facebook-square"></i>
                        </a>
                        <a class="btn btn-social btn-instagram btn-simple" href="https://www.instagram.com/radioasuncion231/">
                        <i class="fa fa-instagram"></i>
                        </a>
                    </div>
                    <div class="copyright" style="padding-left:8%;">
                        &copy; 2020 <a href="http://www.creative-tim.com">radioasuncion231</a>, con amor
                    </div>
                </div>
            </footer>
        </div>
    </body>
    <script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="assets/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="assets/js/bootstrap.js" type="text/javascript"></script>
    <script src="assets/js/awesome-landing-page.js" type="text/javascript"></script>
</html>
